# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Swap files
*.swp

# Executables
src/recorder
src/player
src/nameserver

# Video Files
*.mkv

# LaTeX files
*.log
*.aux
